body {
  position: relative;
  height: 100vh;
}

#myDiv {
  width: 100px;
  height: 100px;
  position: absolute;
  right: 0;
  bottom: 25px;
  background-color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  color: white;
}

#myDiv > i {
  position: absolute;
  top: 5px;
  right: 10px;
  cursor: pointer;
}
